<section id="city-menu">
	<div id="menu-wrapper">
		<div class="country-list">
			<div class="country-name">United States</div>
			<ul>
				<li><%= link_to('New York', '/tags/new%20york') %></li>
				<li><%= link_to('Los Angeles', '/tags/los%20angeles') %></li>
				<li><%= link_to('Chicago', '/tags/chicago') %></li>
				<li><%= link_to('Portland', '/tags/portland') %></li>
			</ul>
		</div>

		<div class="country-list">
			<div class="country-name">Japan</div>
			<ul>
				<li><%= link_to('Tokyo', '/tags/tokyo') %></li>
				<li><%= link_to('Osaka', '/tags/osaka') %></li>
				<li><%= link_to('Kyoto', '/tags/kyoto') %></li>
				<li><%= link_to('Kobe', '/tags/kobe') %></li>
				<li><%= link_to('Sapporo', '/tags/sapporo') %></li>
			</ul>
		</div>

		<div class="country-list">
			<div class="country-name">Taiwan</div>
			<ul>
				<li><%= link_to('Taipei', '/tags/taipei') %></li>
				<li><%= link_to('Taichung', '/tags/taichung') %></li>
			</ul>
		</div>

		<div class="country-list">
			<div class="country-name">Korea</div>
			<ul>
				<li><%= link_to('Seoul', '/tags/seoul') %></li>
			</ul>
		</div>
	</div>
</section>
