<section id="new-post">
<h2>Create a Post!</h2>
<div id="underline"></div>

<%= form_for(@article, html: { multipart: true}) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title, size: "33x1" %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content, size: "29x10" %>
	</div>
	<div class="field">
		<%= f.label :address %>
		<%= f.text_area :address, size: "29x3" %>
	</div>
	<div class="field">
		<%= f.label :city %>
		<%= f.text_field :city, size: "33x1" %>
	</div>
	<div class="field">
		<%= f.label :tag_list, "Tags" %>
		<%= f.text_field :tag_list, size: "33x1", placeholder: "Separated by commas" %>
	</div>
		<div id="submit-button"
			<span class="picture">
			<p><%= f.file_field :image %></p>
			<p><%= f. text_field :remote_image_url, placeholder: "or image URL (non HTTPS)", size: "33x1" %></p>
			</span>
			<%= f.submit "Post" %>
		</div>
	<% end %> 
</div>