<footer>

	<div id="footer-col-2">
		<%= link_to 'About', about_path, {:id => "about-header"} %>
		<span id="about-text">Annie and Ray love to travel together. Nothing beats hopping together on a plane and creating memories somewhere new.  This is a curated bank of those moments.</span>
	</div>
	<div id="footer-col-1">
		<%= image_tag ('footer_logo.png') %>
		<span id="copyright">Copyright 2015. All rights reserved except for images taken off Google.</span>
		<div class="social">
			<%= image_tag('fb.png') %>
			<%= image_tag('instagram.png') %>
			<%= image_tag('pinterest.png') %>
		</div>
	</div>



</footer>