<header>

	<a href=/><div id="logo">
		<span id="logo-text">O U R</br>T R A V E L</br>S T O R Y.</span>
	</div></a>

	<div class="social" id="header-social">
		<%= link_to image_tag('fb.png'), 'https://www.facebook.com/afc.kao' %>
		<%= link_to image_tag('instagram.png'), 'https://instagram.com/thinslicing/' %>
		<%= link_to image_tag('pinterest.png'), 'https://www.pinterest.com/thinslicing/' %>
	</div>

	<nav class="navigation">
					<ul>
						<li class="nav-box"><%= link_to "Cities", cities_path %></li>
						<li class="nav-box"><%= link_to "Photos", articles_path %></li>
						<li class="nav-box"><%= link_to "Plans", plan_path %></li>
						<% if user_signed_in? %>
						<li class="nav-box"><%= link_to "Post", new_article_path %></li> 
						<li class="nav-box"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
						<% else %>
						<li class="nav-box"><%= link_to "Login", new_user_session_path %></li>
						<% end %>
					</ul>	
	</nav>

	<div id="flash">
		<% if notice %><p class="notice"><%= notice %></p><% end %>
		<% if alert %><p class="alert"><%= alert %></p><% end %>
	</div>

</header>

